/*---------------------------------------------------------------------------------

	Theme Name: Edent
	Text Domain: edent
	Version: 1.5
	Description: Edent is a teeny-tiny WordPress theme that can be used a starter theme or a*really* lightweight blog theme.
	Tags: blog, one-column, custom-menu, featured-images, post-formats, threaded-comments, translation-ready
	Author: Terence Eden
	Author URI: https://shkspr.mobi/blog/
	Original Author: Anders Norén
	Original Author URI: http://www.andersnoren.se
	License: GNU General Public License version 2.0
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	
	All files, unless otherwise stated, are released under the GNU General Public License
	version 2.0 (http://www.gnu.org/licenses/gpl-2.0.html)
	
	Normalizing styles have been helped along thanks to the fine work of
	http://necolas.github.com/normalize.css/



/* --------------------------------------------------------------------------------*/
/*	0. CSS Reset
/* --------------------------------------------------------------------------------*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css*/

/* Document
	==========================================================================*/

/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1*/
	-webkit-text-size-adjust: 100%; /* 2*/
}

/* Sections
	==========================================================================*/

/**
* Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/

main {
	display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/

h1 {
	font-size: 1.4em;
	margin: 0.25em;
}

/* Grouping content
	==========================================================================*/

/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/

hr {
	box-sizing: content-box; /* 1*/
	height: 0; /* 1*/
	overflow: visible; /* 2*/
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

pre {
	font-family: monospace, monospace; /* 1*/
	font-size: 1em !important; /* 2*/
}

/* Text-level semantics
	==========================================================================*/

/**
* Remove the gray background on active links in IE 10.
*/

a {
	background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/

abbr[title] {
	border-bottom: none; /* 1*/
	text-decoration: underline; /* 2*/
	text-decoration: underline dotted; /* 2*/
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1*/
	font-size: 0.75em; /* 2*/
}

/**
* Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	==========================================================================*/

/**
* Remove the border on images inside links in IE 10.
*/

img {
	border-style: none;
}

/* Forms
	==========================================================================*/

/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1*/
	font-size: 100%; /* 1*/
	line-height: 1.15; /* 1*/
	margin: 0; /* 2*/
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/

button,
input { /* 1*/
	overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1*/
	text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*	`fieldset` elements in all browsers.
*/

legend {
	box-sizing: border-box; /* 1*/
	color: inherit; /* 2*/
	display: table; /* 1*/
	max-width: 100%; /* 1*/
	padding: 0; /* 3*/
	white-space: normal; /* 1*/
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/

progress {
	vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/

textarea {
	overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1*/
	padding: 0; /* 2*/
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/

[type="search"] {
	-webkit-appearance: textfield; /* 1*/
	outline-offset: -2px; /* 2*/
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1*/
	font: inherit; /* 2*/
}

/* Interactive
	==========================================================================*/

/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/

details {
	display: block;
}

/*
* Add the correct display in all browsers.
*/

summary {
	display: list-item;
}

/* Misc
	==========================================================================*/

/**
* Add the correct display in IE 10+.
*/

template {
	display: none;
}

/**
* Add the correct display in IE 10.
*/

[hidden] {
	display: none;
}



/* --------------------------------------------------------------------------------*/
/*	1. Document Setup
/* --------------------------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	color: #000;
	font-family: sans-serif;
	/*font-size: 16px;*/
	font-size: 1em;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h2,h3,h4,h5,h6 {
	margin-bottom: 0;
}

p {
	margin-bottom: 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 2em 0;
	border-left: 1em solid #696969;
	padding: 0.01em 1em 1em 1em;
	font-family: serif;
	background: #ffebcd;
	box-shadow: .5em .5em 1em;
	border-radius: 0.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #090505;
	color: #5bec5b;
	margin: 0 0;
	max-width: 100%;
	overflow: auto;
	padding: 0;
	max-height: 30em;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background-color: #131313;
	overflow-x: hidden;
	padding-left: 1em;
	padding-right: 1em;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	padding: 0;
	border: none;
	border-top: medium double #333;
	color: #333;
	text-align: center;
}

hr.hr-top::after {
	content: "✍";
	font-size: 2em;
	display: inline-block;
	position: relative;
	top: -0.33em;
}

ul,
ol {
	/*margin: 0 0 1.5em 3em;*/
	list-style-position: inside;
}

ul {
	list-style-type: "➫ ";
}

ol {
	list-style: decimal-leading-zero;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	display:block; /* Highlight background on keyboard focus */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
	border: 1px solid;
	border-radius: .5em;
	display:table;
	text-align: center;
	padding: 0.5em;
}

table {
	margin: 0 0 1.5em;
	table-layout: fixed;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: .6em 1em .4em;
	margin-bottom: .5em;
	margin-top: .5em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 0.5em;
	padding: 0.25em;
	max-width: 100%;
	width: 100%;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
nav {
	text-align: center;
	max-width: 54em;
	margin: 0 auto;
}
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #003366;
}

a:visited {
	/*color: purple;*/
	color: #003366;
}

a:hover,
a:active {
	color: #003366;
}

/* Tab selection */
a:focus {
	background: #ff0;
	outline: none;
}
a:focus img{
	outline: solid .25em #ff0;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

main .comment-navigation,
main .posts-navigation,
main .post-navigation {
	background: rgb(231,233,236);
	margin-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 1em;
	margin-left: -1em;
	margin-right: -1em;
	overflow: hidden;
	font-size: 1.25em;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	/*width: 50%;*/
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	/*text-align: right;
	width: 50%;*/
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
#secondary{
	max-width: 54em;
	word-wrap: break-word;
	margin: 0 auto;
}
.widget {
	background: rgb(231,233,236);
	margin-left: -1em;
	margin-right: -1em;
	margin-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	border-radius: 1em;
	text-align: center;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

.widget-title {
	margin-top: 0;
}

/*--------------------------------------------------------------
# Admin
--------------------------------------------------------------*/
.post-edit-link{
	margin: 1em;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
#masthead {
	margin-top: 1em;
	text-align: center;
}

#primary{
	max-width: 54em;
	word-wrap: break-word;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
}

.menu-bottom-nav-container {
	background: rgb(0,0,0);
	margin-left: -1em;
}

footer ul {
	margin: 0;
	padding-left: 1em;
	display: block;
}
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.page-header {
	text-align: center;
}

.site-content{
	margin-left: 1em;
	margin-right: 1em;
}

.sticky {
	display: block;
}

.hentry, .page-content {
	background: rgb(231,233,236);
	margin-left: -1em;
	margin-right: -1em;
	margin-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	border-radius: 1em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-content {
	font-size: 1.25em;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-header {
	text-align: center;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area {
	margin-right: -1em;
	margin-bottom: 1.5em;
	margin-left: -1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	border-radius: 1em;
	background: #f1f3f4;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment-body {
	padding: 1em;
}

.comments-area ol {
	list-style: none;
	padding-left: 0;
}

.comment, .pingback {
	margin-bottom: 1em;
	border-radius: 1em;
	border-left: 0.5em solid rgb(85, 99, 95);
}

.odd {
	background: #CCDFCB;
}

.even {
	background: #99CED4;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
	/*border-radius: 1em;
	box-shadow: 1em 1em 2em 0px rgba(0,0,0,0.75);*/
}

.youtube-player {
	border-radius: 1em;
	box-shadow: 1em 1em 2em 0px rgba(0,0,0,0.75);
}

img[class*="wp-image-"] {
	box-shadow: 1em 1em 2em 0px rgba(0,0,0,0.75);
	margin-bottom: 2em;
	border-radius: 0.5em;
}

/*Thumbnail images*/
.attachment-full {
	max-width: 12em;
	float: left;
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	border-radius: 0.5em;
	box-shadow: 0.5em 0.5em 0.5em 0px rgba(0,0,0,0.75);
}

/*No shadows in quotes or figures. Looks messy.*/
figure img, blockquote img {
	box-shadow: none !important;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.5em;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	/*margin: 0.8075em 0;*/
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/*--------------------------------------------------------------
## Titles
--------------------------------------------------------------*/
.site-header, .site-footer {
}
.site-header a,
.site-header a:visited,
.site-header a:hover,
.site-footer a,
.site-footer a:visited,
.site-footer a:hover,
.page-title {
	/*http://enjoycss.com/start#text*/
	display: inline;
	box-sizing: border-box;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border: none;
	color: rgb(255,255,255);
	text-align: center;
	white-space: normal;;
	text-shadow: 0 0 1em #2100ff , 0 0 1em #2100ff , 0 0 1em;
	font-weight: bold;
}
.site-title a{
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	line-height: 0.5em;
	text-decoration: none;
}

.site-footer li{
	list-style-type: none;
	float: left;
	font-size: 1.25em;
	margin-left: 0em;
	margin-right: 1em;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #808080;
	display: block;
	overflow-x: auto;
}

td,
th {
	border: 1px black solid;
	padding: 0.5em;
}

thead tr {
	background: rgb(161, 161, 198) !important
}

video {
	max-width: 100%;
}